@font-face {
    font-family: "DIN1451";
    src: url(./fonts/din1451.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "DIN1451";
    position: relative;
}

.separador {
    border: none;
    border-top: 1.5px solid #ccc;
    margin: 0;
}

.banner {
    background-color: #fff;
    padding: 1px;
}

.navbar {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    margin-right: 20px;
    cursor: pointer;   
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    font-family: "DIN1451";
    font-size: larger;
    margin: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.portada {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img-portada {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 10px;
    min-height: 300px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.footer {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-gap: 20px;
    padding: 10px 0;
    z-index: 2;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: -3%;
}

.box h2{
    font-size: 17px;
    margin-top: 2%;
}

.box img {
    display:flex;
    justify-content: center;
    width: 100px;
    margin-right: 10px;
}

.grupo-1 .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.grupo-2 {
    padding: 15px 5px;
    text-align: center;
    color: black;
    bottom: 0;
    width: 100%;
}

.grupo-2 small {
    font-size: 10px;
}

.navbar ul li {
    margin: 5px;
}

.logo {
    width: 100px;
    margin-right: 10px;
}

.card {
    width: 100%;
}

.grupo-1 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

