@font-face {
    font-family: "DIN1451";
    src: url(./fonts/din1451.ttf)
}

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: "DIN1451";
    position: relative;
    
}

.separador {
    border: none;
    border-top: 1.5px solid #ccc;
    margin: 0;
}

.banner { /* es una clase por eso se declara con punto; si es un ID se declara con # */
    
    background-color: #fff;
    padding: 1px;
}
.navbar{
    position: relative;
    width: 85%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    margin-right: 5%;
    cursor: pointer;   
}
.navbar ul li{
    font-family: "DIN1451";
    font-size: larger;
    list-style: none;
    display: inline-block;
    margin: 20px;
    margin-left: 1px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase
}
.portada {
    position: relative;
    width: 100%; /* Ajusta el ancho de la portada al 100% */
    height: 700px; /* Cambia la altura según sea necesario */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
}

.img-portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    grid: 20px;
}

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    border-radius: 10px;
    min-height: 300px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: 25%;
}

.footer{
    background-color: #fff;
    width: 100%;
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px;
    padding: 10px 0;
    z-index: 2;
}

.box figure{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.box figure img{
    width: 178.83px;
}

.grupo-1 .redes{
    display: inline-block;
    text-emphasis: none;
}

.redes a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
}

.grupo-2 {
    padding: 15px 5px;
    text-align: center;
    color: black;
    bottom: 0;
    position: absolute;
    width: 100%
}

.grupo-2 small{
    font-size: 10px;
}

